node_modules
**/node_modules/
npm-debug.log
.git
.gitignore
.env
.postman
docker-compose.yml
Jenkinsfile
README.md
docs/
documents/
postman/
tests/
logs/
**/logs/
uploads/
**/uploads/
mysql_data/
nifi_data/
nifi_conf/
sonarqube_data/
sonarqube_extensions/
sonarqube_logs/
web-app/
jenkins/
fix/
*.jar
